@font-face {
  font-family: "Quiking";
  src: url("../Font/Quicking.otf");
}


body {
  font-family: "Quiking";
  background-image: url("../Ressources/bg_portfolio.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

h1 {
  color: whitesmoke;
  font-size: 112px;
  align-content: bottom;
}

p {
  color: whitesmoke;
}
