@font-face {
    font-family: AKIRA;
    src: url(../Font/Akira.otf);
}

header {
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
    font-family: AKIRA;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, #202a3c 0%, #051121 10%, #141a2c 100%), url("noise.svg");
}

body::-webkit-scrollbar {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 0%;
    margin-right: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: #b2a287;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.navbar a:hover {
    color: #c8c0b1;
}

.socialBar {
    position: absolute;
    float: left;
    display: flex;
    align-items: center;
    z-index: 5;
    height: 100%;
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease-in;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}

.column a {
    color: #b2a287;
    font-size: 35px;
}

.coffeeCup{
    user-select: none;
    position: relative;
    left: 28%;
    bottom: -16%;
    scale: 60%;
    animation: wave 3s ease-in-out infinite alternate;
}



    

  
@keyframes wave {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

