@font-face {
    font-family: AKIRA;
    src: url(../Font/Akira.otf);
}

header{
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
    font-family: AKIRA;
}

body{
    margin: 0;
}

section{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.p1{
    background-image:
    linear-gradient(to bottom right, #080811df 30%,#0c0c1fdf 60%, #141436df 90%, #121231df 100%),
    url('noise.svg');
}


.mainContentP1{
    display: flex;
    height: 100%;
    font-size: x-large;
    color: #656BCA;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.mainContentP1 > h1 > span{
    color: #c96010;
}

.navbar{
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 0% ;
    margin-right: 20px;
}

.navbar a{
    float:left;
    display:block;
    color: #656BCA;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.navbar a:hover{
    color: rgb(155, 157, 222);
}

.socialBar{
    position: absolute;
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    left: 0%;
    opacity: 1;
    transition: all 0.8s ease-in;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
}

.column{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
.column a{
    color: #656BCA;
    font-size: 35px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    height: 1000px;
    width: 1200px;
    left: calc(50% - 600px);
}

.circle.topCircle {
    background-image:linear-gradient(to top ,#c96010dd 0%,#e87e2cdd 50%) ,url('noiseCircle.svg');
    transform: translateY(-80%);
}
.circle.botCircle {
    background-image:linear-gradient(to bottom ,#c96010dd 0%,#e87e2cdd 50%) ,url('noiseCircle.svg');
    bottom: 0%;
    transform: translateY(80%);
    background-color: #c96010;
    clip-path: polygon(0% 0%,100% 0%,100% 20%,0% 20%); /*Do not diplay the bottom of the lower circle*/
}

.lightCircles{
    position: absolute;
    border-radius: 50%;
}


.p2{
    background-color: #141436;
}

.p3{
    background-color: #23239f;
}